@tailwind base;
@tailwind components;
@tailwind utilities;

// Backgrounds
[data-theme="light"] {
  --light-grey-background: #f1f5f9;
  --grey-background: #e2e8f0;
  --violet-background: #7c3aed;
}

[data-theme="dark"] {
  --light-grey-background: #262626;
  --grey-background: #171717;
  --violet-background: #8b5cf6;
}

// Borders
[data-theme="light"] {
  --grey-border: #94a3b8;
  --violet-border: #7c3aed;
}

[data-theme="dark"] {
  --grey-border: #64748b;
  --violet-border: #8b5cf6;
}

// Hovers
[data-theme="light"] {
  --grey-hover: #cbd5e1;
  --grey-active: #94a3b8;
}

[data-theme="dark"] {
  --grey-hover: #404040;
  --grey-active: #525252;
}

// Outlines
[data-theme="light"] {
  --blue-outline: #3b82f6;
}

[data-theme="dark"] {
  --blue-outline: #06b6d4;
}

// Text colors
[data-theme="light"] {
  --text-color: #0f172a;
  --light-text-color: #475569;
  --violet-title-color: #7c3aed;
}

[data-theme="dark"] {
  --text-color: #cbd5e1;
  --light-text-color: #94a3b8;
  --violet-title-color: #8b5cf6;
}

// Icons
[data-theme="light"] {
  --violet-icon: invert(26%) sepia(99%) saturate(3631%) hue-rotate(254deg) brightness(95%) contrast(96%);
}

[data-theme="dark"] {
  --violet-icon: invert(26%) sepia(99%) saturate(3631%) hue-rotate(254deg) brightness(95%) contrast(96%);
}

// Scrollbar
[data-theme="light"] {
  --scrollbar-grey-thumb: #94a3b8;
  --scrollbar-grey-track: #cbd5e1;
}

[data-theme="dark"] {
  --scrollbar-grey-thumb: #64748b;
  --scrollbar-grey-track: #334155;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: var(--light-grey-background);
  color: var(--text-color);

  header {
    background-color: var(--grey-background);
    border-bottom: 2px solid var(--grey-border);
  }

  aside {
    background-color: var(--light-grey-background);
    border-right: 2px solid var(--grey-border);
  }

  footer {
    color: var(--light-text-color);
  }
}

@layer utilities {
  .border-default {
    @apply border-2 border-solid border-[var(--violet-border)] rounded-xl;
  }

  .border-rounded-default {
    @apply border-2 border-solid border-[var(--violet-border)] rounded-full;
  }

  .hover-default {
    @apply transition duration-300 sm:hover:bg-[var(--grey-hover)] active:transition-none active:bg-[var(--grey-active)];
  }

  .outline-default {
    @apply focus-visible:transition focus-visible:duration-300 focus-visible:outline-none 
    focus-visible:ring-offset-1 focus-visible:ring focus-visible:ring-[var(--blue-outline)] focus-visible:ring-offset-[var(--violet-border)];
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-moz-scrollbar {
  width: 5px;
  height: 3px;
}

::-ms-scrollbar {
  width: 5px;
  height: 3px;
}

::-o-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: var(--scrollbar-grey-thumb);
}

::-moz-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: var(--scrollbar-grey-thumb);
}

::-ms-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: #94a3b8;
}

::-o-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: var(--scrollbar-grey-thumb);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-grey-track);
}

::-moz-scrollbar-track {
  background-color: var(--scrollbar-grey-track);
}

::-ms-scrollbar-track {
  background-color: var(--scrollbar-grey-track);
}

::-o-scrollbar-track {
  background-color: var(--scrollbar-grey-track);
}
